fastapi
uvicorn
sqlalchemy
mysql-connector-python
alembic
python-multipart
python-jose[cryptography]
passlib[bcrypt]
google-generativeai
langchain
langchain-core
langchain-chroma
langchain-community
langchain-text-splitters
pdfplumber
sentence-transformers
beautifulsoup4
requests
celery
redis
pydantic
pytest
pytest-asyncio
crawl4ai
chromadb
pinecone-client
langchain-google-genai
langchain
httpx
pydantic-settings
supabase
